<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><mat-icon>local_pizza</mat-icon>PIZZA STORE</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button routerLink="/cliente/list"><mat-icon>groups</mat-icon> Clienti</button>
    <button mat-button routerLink="/pizza/list"><mat-icon>local_pizza</mat-icon> Pizze</button>
    <button mat-button routerLink="/ordine/list"><mat-icon>article</mat-icon> Ordini</button>
    <span class="example-spacer"></span>
  </mat-toolbar-row>

  <!--<div>
    <span>{{ (authService.getUserLogged() | async)?.username }}</span>
  </div>
  <button mat-button color="warn" (click)="logout()">Logout</button>
  -->
</mat-toolbar>
